.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
  }  

  :root{
--Very-dark-cyan: hsl(183, 100%, 15%);
--Dark-grayish-cyan: hsl(186, 14%, 43%);
--Grayish-cyan: hsl(184, 14%, 56%);
--Light-grayish-cyan: hsl(184, 50%, 84%);
--Very-light-grayish-cyan: hsl(189, 41%, 97%);
  }

*{
    margin: 0;
    padding: 0;
    font-family:"Space Mono" ;
    scale: 0.97;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color:  var(--Light-grayish-cyan);
    
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
 
}

.card  {
    background-color: white;
    padding: 40px;
    display: flex;
    gap: 30px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.topInputContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.topInput{
    display: flex;
    align-items: center;
    background-color: var(--Very-light-grayish-cyan);
    padding: 5px 15px;
    border-radius: 8px;
    caret-color: transparent;
    justify-content: space-between;
}

.left{
    max-width: 400px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.topInput input{
    font-size: 24px;
    background: transparent;
    border: none;
    font-weight: 800;
    color: var(--Very-dark-cyan);  
    text-align: end;  
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input:focus{
    outline: none;
    }

    .topInput input::placeholder{
        color: rgba(127, 156, 159, 0.34);
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
    }

    .buttons button{
        font-size: 24px;
        background-color: var(--Very-dark-cyan);
        color: white;
        font-weight: 600;
        border-radius: 5px;
        width: 120px;
        height: 45px;
        border: none;
        cursor: pointer;
    }

    .buttons button:hover{
        background-color: var(--Light-grayish-cyan);
        color: var(--Very-dark-cyan);
    }

    .right button:hover{
        background-color: var(--Light-grayish-cyan);
        color: var(--Very-dark-cyan);
        cursor: pointer;
    }

    .buttonLabel{
        margin-bottom:17px ;
        font-weight: 700;
        color: var(--Dark-grayish-cyan);
    }

    .topInputContainer label{
        font-weight: 700;
        color: var(--Dark-grayish-cyan);
    }

    .customInput input{
        width: 117px;
        height: 45px;
        font-size: 24px;
        font-weight: 600;
        border-radius: 5px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--Very-dark-cyan);
        background-color: var(--Very-light-grayish-cyan);
        box-sizing: border-box;
    }

    .customInput input::placeholder{
        color:hsl(184, 14%, 56%);
    }

    .bottomInputContainer{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .bottomInput{
        display: flex;
        align-items: center;
        background-color: var(--Very-light-grayish-cyan);
        padding: 5px 15px;
        border-radius: 8px;
        caret-color: transparent;
        justify-content: space-between;
    }

    .bottomInput input{
        font-size: 24px;
        background: transparent;
        border: none;
        font-weight: 800;
        color: var(--Very-dark-cyan);  
        text-align: end;  
        
    }

    .bottomInput input::placeholder{
        color: rgba(127, 156, 159, 0.34);
    }

    .bottomInputContainer label{
        font-weight: 700;
        color: var(--Dark-grayish-cyan);
    }

    .right{
        display: flex;
        flex-direction: column;
        background-color: var(--Very-dark-cyan);
        padding: 60px 40px 30px 40px;
        min-width: 320px;
        justify-content: space-between;
        border-radius: 15px;

    }

    .tipContainer{
        display: flex;
        color: white;
      justify-content: space-between;
        font-weight: 600;
        align-items: center;
    }

    #tipValue{
        font-size: 40px;
        font-weight: 900;
        color: hsl(172, 67%, 45%);
    }

    .rightText{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .person{
        font-size: 14px;
        color: var(--Grayish-cyan);
    }

    .values{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .totalContainer{
        display: flex;
        color: white;
       justify-content: space-between;
        font-weight: 600;
        align-items: center;
    }

    #totalValue{
        font-size: 40px;
        font-weight: 900;
        color: hsl(172, 67%, 45%);
    }

    .right button{
        font-size: 24px;
        background-color: hsl(172, 67%, 45%) ;
        color: var(--Very-dark-cyan);
        font-weight: 600;
        border-radius: 5px;
        height: 45px;
        border: none;
    }

    .bottomInputContainer:focus{
        border: 1px solid hsl(172, 67%, 45%);
    }

    .borderFocus{
        border: 3px solid hsl(172, 67%, 45%) ;
        border-radius:5px ;
    }

    .borderError{
        border: 3px solid red ;
    }

    .labels{
        display: flex;
        justify-content: space-between;
    }

    .labels .error{
        color: red;
    }

    .labels .visible{
        display: none;
    }

    @media screen and (max-width: 750px){
        body{
      height: 100%;
        }

        *{
            scale: 0.99;
        }
        
        .mainContainer{
            display: flex;
            flex-direction: column;
            gap: 55px;
        }

        .card{
            flex-direction: column;
        }

        .title{
            margin-top: 30px;
        }

        #reset{
            margin-top: 20px;
        }
    }